{
  "presets": [
    [
    "@babel/preset-env",
    {
      "targets": {
        "node": "current"
      }
    }
  ]
  ],
    // "presets": ["@babel/preset-env"],
   // "presets": [["latest-node", { "target": "current" }]],
  "sourceMaps": "inline",
  "retainLines": true
  }